.mdp-ticker-elementor-ticker {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  overflow: hidden;
}

.mdp-ticker-elementor-ticker-label-align-right {
  flex-flow: row-reverse nowrap;
}
.mdp-ticker-elementor-ticker-label-align-right .mdp-ticker-elementor-arrows-align-left {
  order: 1;
}
.mdp-ticker-elementor-ticker-label-align-right .mdp-ticker-elementor-arrows-align-right {
  order: -1;
}

.mdp-ticker-elementor-ticker-hover-pause:hover .mdp-ticker-elementor-ticker-content {
  animation-play-state: paused;
}

.mdp-ticker-elementor-ticker-label {
  display: flex;
  flex: 0 0 auto;
  z-index: 999;
  align-items: center;
  background: #0a4b78;
}

[data-elementor-device-mode=mobile] .mdp-ticker-elementor-label-hide-mobile,
[data-elementor-device-mode=mobile_extra] .mdp-ticker-elementor-label-hide-mobile {
  display: none;
}

.mdp-ticker-elementor-ticker-label-text-wrapper {
  display: flex;
}

.mdp-ticker-elementor-ticker-label-icon-position-above-left,
.mdp-ticker-elementor-ticker-label-icon-position-above-center,
.mdp-ticker-elementor-ticker-label-icon-position-above-right {
  flex-direction: column;
}

.mdp-ticker-elementor-ticker-label-icon-position-under-left,
.mdp-ticker-elementor-ticker-label-icon-position-under-center,
.mdp-ticker-elementor-ticker-label-icon-position-under-right {
  flex-direction: column-reverse;
}

.mdp-ticker-elementor-ticker-label-icon-position-after {
  flex-direction: row-reverse;
}

.mdp-ticker-elementor-ticker-label-icon-position-above-left .mdp-ticker-elementor-ticker-label-icon {
  align-self: flex-start;
}

.mdp-ticker-elementor-ticker-label-icon-position-above-center .mdp-ticker-elementor-ticker-label-icon {
  align-self: center;
}

.mdp-ticker-elementor-ticker-label-icon-position-above-right .mdp-ticker-elementor-ticker-label-icon {
  align-self: flex-end;
}

.mdp-ticker-elementor-ticker-label-icon-position-under-left .mdp-ticker-elementor-ticker-label-icon {
  align-self: flex-start;
}

.mdp-ticker-elementor-ticker-label-icon-position-under-center .mdp-ticker-elementor-ticker-label-icon {
  align-self: center;
}

.mdp-ticker-elementor-ticker-label-icon-position-under-right .mdp-ticker-elementor-ticker-label-icon {
  align-self: flex-end;
}

.mdp-ticker-elementor-ticker-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
}

.mdp-ticker-elementor-content-wrapper {
  position: relative;
  flex: 1 1 auto;
  overflow: hidden;
}

.mdp-ticker-elementor-ticker-ticker-type .mdp-ticker-elementor-ticker-animation-reverse {
  animation-direction: reverse !important;
  flex-direction: row-reverse;
}
.mdp-ticker-elementor-ticker-ticker-type .mdp-ticker-elementor-ticker-content {
  animation: ticker infinite linear normal forwards;
}
.mdp-ticker-elementor-ticker-ticker-type .mdp-ticker-elementor-ticker-item {
  white-space: nowrap;
}
.mdp-ticker-elementor-ticker-ticker-type .mdp-ticker-elementor-content-wrapper {
  flex: unset;
  overflow: unset;
}

.mdp-ticker-elementor-ticker-item {
  display: flex;
  align-items: center;
}

.mdp-ticker-elementor-ticker-item-active {
  display: block !important;
}

.mdp-ticker-elementor-ticker-item-separator {
  display: block;
  white-space: nowrap;
}

.mdp-ticker-elementor-ticker-slider {
  justify-content: flex-start;
  position: relative;
}
.mdp-ticker-elementor-ticker-slider .mdp-ticker-elementor-slider-slide {
  flex-shrink: 0;
  width: 100%;
  flex-basis: 0;
  padding: 0 10px;
}

.mdp-ticker-elementor-arrows {
  display: flex;
  z-index: 999;
  align-items: center;
}

.mdp-ticker-elementor-arrow {
  cursor: pointer;
  display: flex;
}

.mdp-ticker-elementor-previous-arrow {
  justify-content: flex-end;
}

.mdp-ticker-elementor-next-arrow {
  justify-content: flex-start;
}

.mdp-ticker-elementor-arrows-align-left {
  order: -1;
}

@keyframes ticker {
  0% {
    transform: translate(var(--ticker-track-width), 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}
@keyframes fade_in_show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}